<div class="container-fluid">
    <div class="category-div">
        <div class="category-header">
            <h1>NexTime</h1>
            <h3>Welcome <span id="user-name">UserName</span></h3>
        </div>
        {{#each categories}}
        <a href="/to-do/category-items/{{this.id}}">
        <div class="category-body">
            <div class="category-item">
                <div class="category-icon {{this.type_name}}"><img src="/../img/{{this.type_name}}.png">
                </div>
                <div class="category-title"><h4>{{this.type}}</h4></div>
            </div>
        </div>
        </a>
        {{/each}}
    </div>
    <div class="list-items-div">
        <div class="category-header">
            <h1>{{currentStatus}}</h1>
            <a href="/to-do"><button>View All Items</button></a>
        </div>
        <div class="category-body">
            <ul>
                {{#each tasks}}
                <li class="list-item {{this.id}}">{{this.task}}<a href=""><button class="invisible-edit-delete">edit</button></a><button class="item-delete invisible-edit-delete" data-id="{{this.id}}">x</button></li>

                {{/each}}
            </ul>
            <div class="add-btn"><img src="/../img/plus-circle.png"></div>
        </div>
    </div>