<div class="container-fluid">
    <div class="category-div">
        <div class="category-header">
            <h1>NexTime</h1>
            <h3>Welcome <span id="user-name">UserName</span></h3>
        </div>
            {{#each categories}}
        <a href="/to-do/category-items/{{this.id}}">
            <div class="category-body">
                <div class="category-item">
                    <div class="category-icon {{this.type_name}}"><img src="/../img/{{this.type_name}}.svg" class="category-icon-svg">
                    </div>
                    <div class="category-title"><h4>{{this.type}}</h4></div>
                </div>
            </div>
        </a>
            {{/each}}
    </div>
    <div class="list-items-div">
        <div class="category-header">
            <h1>{{currentStatus}}</h1>
            <a href="/to-do"><button>View All Items</button></a>
        </div>
        <div class="category-body">
            <ul>
                {{#each tasks}}

                <li class="list-item {{this.id}}">{{this.task}}<button type="button" class="btn btn-primary btn-sm invisible-edit-delete" data-toggle="modal" data-target="#myEditModal">edit</button><button class="btn btn-primary btn-sm item-delete invisible-edit-delete" data-id="{{this.id}}">x</button></li>

                {{/each}}
            </ul>
        <button type="button" class="add-btn"data-toggle="modal" data-target="#myModal"><div><img class="plus-icon" src="/../img/plus-circle.svg"><h5>Add New Task</h5></div></button>
    </div>



<!-- New Task Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add New Task</h4>
      </div>
      <div class="modal-body">
            <form id="addItem">
                <div class="form-group">
                    <label for="task">Task Name:</label>
                    <input type="text" class="form-control" id="task">
                    <br />
                    <div class="form-group">
                        <label for="category">Select Category:</label>
                        <select class="form-control" id="category">
                        </select>
                    </div>
                    <br />
                    <label for="body">Notes</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <br />
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block submit" id= "add-item" data-dismiss="modal">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- Update/Edit Modal -->
<div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Update Current Task</h4>
      </div>
      <div class="modal-body">
            <form id="addItem">
                <div class="form-group">
                    <label for="task">Task Name:</label>
                    <input type="text" class="form-control" id="task">
                    <br />
                    <div class="form-group">
                        <label for="category">Select Category:</label>
                        <select class="form-control" id="category">
                            <option></option>
                        </select>
                    </div>
                    <br />
                    <label for="body">Notes</label>
                    <textarea class="form-control" rows="10" id="body"></textarea>
                    <br />
                </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-lg btn-block submit" id= "add-item" data-dismiss="modal">Update</button>
      </div>
    </div>
  </div>
</div>
</div>